<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://ogp.me/ns/fb#" lang="{{ app.request.locale }}">
    <head>
	    <meta name="google-site-verification" content="DyjxY61nVz2XJcFkNef-caFR5ONIJMVPf4oocyZ2CYM">
        <meta charset="utf-8" />
        <meta name="description" content="Official site with biography, prizes, repertoire, galleries, and videos.">
        <meta name="keywords" content="ionella marinutsa, harp, harpist, classical music, concert, classical concert, harp concert, conservatory, conservatory serge rachmaninoff, national school of music of paris">
        <meta http-equiv="content-language" content="fr,en,ru">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

        {% block facebookOpenGraphTags '' %}

        <link rel="icon" type="image/x-icon" href="{{ asset('/favicon.ico') }}" />

        <title>{% block title %}{{ ('imh.base.home.page_title')|trans }}{% endblock %}</title>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!--[if gte IE 9]>
        <style type="text/css">
            .gradient { filter: none; }
        </style>
        <![endif]-->

        {% block stylesheets '' %}
    </head>

    <body>
        {% block facebookSDK '' %}
        {% block flashes '' %}
        {% include 'ImhBaseBundle:Part:svg.html.twig' %}

        <div class="container-fluid imh__container-fluid">
            {% block header %}
                <header class="imh__header">
                    {% include 'ImhBaseBundle:Menu:navigation.html.twig' %}
                </header>
            {% endblock %}

            <section class="imh__content" role="main" data-content>
                {% block main '' %}
            </section>

            {% block sidebar %}
                {% include 'ImhBaseBundle:Part:sidebar.html.twig' %}
            {% endblock %}

            {% block footer %}
                {% include 'ImhBaseBundle:Part:footer.html.twig' %}
            {% endblock %}
        </div>

        {% if isTouchDevice %}
        <div class="imh__orientation-change">
            <div class="rotate-device">
                <div class="rotate-icon">
                    <svg class="icon icon--rotate"><use xlink:href="#svg-rotate"></use></svg>
                </div>
                <div class="device-icon">
                    <svg class="icon icon--device"><use xlink:href="#svg-device"></use></svg>
                </div>
            </div>
        </div>
        {% endif %}

        {% block javascripts %}
            {% javascripts output='assets/compiled/js/main.js'
            '@ImhBaseBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
            '@ImhBaseBundle/Resources/public/bower_components/jquery.easing/js/jquery.easing.min.js'
            '@ImhBaseBundle/Resources/public/bower_components/jquery-mousewheel/jquery.mousewheel.min.js'
            'assets/lib/analytics/ga.js'
            'assets/lib/lazyload/jquery.lazyload.min.js'
            'assets/lib/modernizr/modernizr-custom.js'
            '@ImhBaseBundle/Resources/assets/js/jquery.fontspy.js'
            '@ImhBaseBundle/Resources/assets/js/jquery.imh.menumobile.js'
            %}

            {#FOSJsRoutingBundle#}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            {#'@ImhBaseBundle/Resources/assets/js/_jquery.ajax.js'#}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script>
                $(function () {
                    'use strict';
                    Modernizr.touchevents ? $(document).menumobile() : null;
                });
            </script>
        {% endblock %}
    </body>
</html>
