{% extends 'ImhBaseBundle::layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets output='assets/compiled/css/home.css' filter='compass, cssrewrite'
    '@ImhBaseBundle/Resources/assets/sass/page/home.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block loader %}
    {% include 'ImhBaseBundle:Part:loader.html.twig' %}
{% endblock %}

{% block main %}
    {% spaceless %}

        {% if not isTouchDevice %}
            {% embed "ImhBaseBundle:Part:sidebar.html.twig" %}
                {% block menu_gallery '' %}
                {% block menu_social '' %}
            {% endembed %}
        {% endif %}

        <div class="imh-fullpage" data-fullpage>
            <div class="imh-fullpage__section section" data-tooltip="{{ ('imh.base.home.menu.section1')|trans }}">

                <figure class="imh-bkg-content" data-bkg-content>
                    <picture class="imh-bkg-content__picture" data-bkg-image>
                        <source srcset="{{ asset('bundles/imhbase/images/ionella.jpg') }}" media="(min-width: 768px)" />
                        <img class="imh-bkg-content__image" srcset="{{ asset('bundles/imhbase/images/ionella@2x.jpg') }}" alt="Ionella Marinutsa" />
                    </picture>
                    <picture class="imh-bkg-content__picture" data-bkg-image>
                        <source srcset="{{ asset('bundles/imhbase/images/ionella_bw.jpg') }}" media="(min-width: 768px)" />
                        <img class="imh-bkg-content__image" srcset="" alt="Ionella Marinutsa" />
                    </picture>
                    {#<img class="imh-bkg-content__image" data-bkg-image src="{{ asset('bundles/imhbase/images/ionella_bw.jpg') }}" alt="Ionella Marinutsa" />
                    <img class="imh-bkg-content__image" data-bkg-image src="{{ asset('bundles/imhbase/images/ionella.jpg') }}" alt="Ionella Marinutsa" />#}
                </figure>

                {#<a href="#" class="imh-content-home-link" data-ajax data-path='imh_base_biography,{{ app.request.locale }}' data-enter-website>
                    <i class="fa fa-angle-down fa-4x" aria-hidden="true"></i>
                </a>#}

                <a href="#" class="imh-agenda" data-enter-website>
                    <i class="fa fa-angle-down fa-4x" aria-hidden="true"></i>
                </a>
            </div>

            <div class="imh-fullpage__section section" data-tooltip="{{ ('imh.base.home.menu.section2')|trans }}">
                <div class="imh-events">
                    <div class="col-sm-12 col-sm-offset-6 imh-topcartridge">
                        <h2 class="imh-topcartridge__title">{{ ('imh.base.home.events.title')|trans }}</h2>
                        <p class="imh-topcartridge__sub-title">{{ ('imh.base.home.events.sub_title')|trans|raw }}</p>
                    </div>

                    <div class="col-lg-16 col-lg-offset-4 imh-block-events">
                        {#<div class="imh-block-events__calendar"></div>#}
                        <ul class="imh-block-events__list">
                            <li class="imh-block-events__item col-sm-12 col-lg-8">
                                <div class="imh-block-events__wrap">
                                    <div class="imh-block-events__date">
                                        <div class="imh-block-events__infos">
                                            <p class="imh-block-events__month">Avr.</p>
                                            <p class="imh-block-events__day">25</p>
                                            <p class="imh-block-events__time">20H00</p>
                                        </div>
                                    </div>
                                    <figure class="imh-block-events__figure">

                                        <img class="" src="{{ asset('bundles/imhbase/images/events/sorbonne_richelieu.jpg') }}" alt="Ionella Marinutsa">

                                        <figcaption class="imh-block-events__figcaption">
                                            <h3 class="imh-block-events__title">Amphithéâtre Richelieu<br><span class="imh-block-events__title-emphased">Sorbonne</span></h3>
                                            <p class="imh-block-events__description">« Livre d'heures en musique »</p>
                                            <ul class="imh-block-events__composer-list">
                                                <li class="imh-block-events__composer-item">Stravinski</li>
                                            </ul>
                                            <a class="imh-block-events__more" href="http://www.culture-sorbonne.fr/evenements/carte-blanche-aux-laureats-concours-jeunes-solistes-sorbonne-universites/" target="_blank">En savoir plus</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="imh-block-events__item col-sm-12 col-lg-8">

                                <div class="imh-block-events__wrap">
                                    <div class="imh-block-events__date">
                                        <div class="imh-block-events__infos">
                                            <p class="imh-block-events__month">Avr.</p>
                                            <p class="imh-block-events__day">27</p>
                                            <p class="imh-block-events__time">20H00</p>
                                        </div>
                                    </div>
                                    <figure class="imh-block-events__figure">
                                        {#<picture class="">
                                            <source srcset="{{ asset('bundles/imhbase/images/ionella.jpg') }}" media="(min-width: 768px)" />
                                            <img class="" srcset="{{ asset('bundles/imhbase/images/ionella@2x.jpg') }}" alt="Ionella Marinutsa" />
                                        </picture>#}

                                        <img class="imh-block-events__image" src="{{ asset('bundles/imhbase/images/events/hopital_debre.jpg') }}" alt="Ionella Marinutsa">

                                        <figcaption class="imh-block-events__figcaption">
                                            <h3 class="imh-block-events__title">Hôpital<br><span class="imh-block-events__title-emphased">Robert-Debré</span></h3>
                                            <p class="imh-block-events__description">Récital de harpe pour l'association jeunes talents.</p>
                                            <ul class="imh-block-events__composer-list">
                                                <li class="imh-block-events__composer-item">Fauré</li>
                                                <li class="imh-block-events__composer-item">Scarlatti</li>
                                                <li class="imh-block-events__composer-item">Glinka</li>
                                            </ul>
                                            <a class="imh-block-events__more" href="http://www.jeunes-talents.org/solidarite/hopitaux" target="_blank">En savoir plus</a><!-- view more -->
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="imh-block-events__item col-sm-12 col-lg-8">
                                <div class="imh-block-events__wrap">
                                    <div class="imh-block-events__date">
                                        <div class="imh-block-events__infos">
                                            <p class="imh-block-events__month">Mai</p>
                                            <p class="imh-block-events__day">10</p>
                                            <p class="imh-block-events__time">20H00</p>
                                        </div>
                                    </div>
                                    <figure class="imh-block-events__figure">
                                        {#<picture class="">
                                            <source srcset="{{ asset('bundles/imhbase/images/ionella.jpg') }}" media="(min-width: 768px)" />
                                            <img class="" srcset="{{ asset('bundles/imhbase/images/ionella@2x.jpg') }}" alt="Ionella Marinutsa" />
                                        </picture>#}

                                        <img class="" src="{{ asset('bundles/imhbase/images/events/centre_clignancourt.jpg') }}" alt="Ionella Marinutsa">

                                        <figcaption class="imh-block-events__figcaption">
                                            <h3 class="imh-block-events__title">Auditorium du<br><span class="imh-block-events__title-emphased">Centre<br> Clignancourt</span></h3>
                                            <p class="imh-block-events__description">Concert avec l'orchestre COSU (Chœur & Orchestre Sorbonne Universités)</p>
                                            <ul class="imh-block-events__composer-list">
                                                <li class="imh-block-events__composer-item">Debussy</li>
                                            </ul>
                                            <a class="imh-block-events__more" href="http://cosu.sorbonne-universites.fr/page-daccueil/musiques-francaises.html" target="_blank">En savoir plus</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endspaceless %}
{% endblock %}

{% block footer '' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(function () {
            'use strict';

            var assetUrl     = '{{ asset('bundles/imhbase/images/ionella_bw.jpg') }}',
                //titles       = ['.block-myself h1', '.block-myself h2', '.block-myself h3'],
                //grTitles     = $(titles.join(', ')),
                context      = $('[data-body]'),
                topNav       = context.find('[data-top-navigation]'),
                enterLink    = $('[data-enter-website]'),
                nextLink     = $('[data-next]'),
                opening      = $('[data-opening]'),
                shutter      = $('[data-shutter]'),
                bar          = $('[data-progress-bar]'),
                counter      = $('[data-progress-counter]'),
                windowH      = $(window).height(),
                imageCtn     = $('[data-bkg-content]'),
                imageCtnW    = imageCtn.width(),
                image        = imageCtn.find('[data-bkg-image]'),
                imageH       = image.height(),
                imageW       = image.width(),
                gap          = (imageW + image.offset().left) - imageCtn.width(),
                imageRatio   = imageH / imageW,
                animEnd      = 'animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd',
                fontLoaded   = false,
                wheelCount   = 0;

            function adjustBkgImg(image, imageCtn, imageCtnW, gap, imageRatio, windowH) {
                image.width(imageCtnW + gap);
                imageCtn.height((imageCtnW + gap) * imageRatio);
                if(imageCtn.height() < windowH) {
                    imageCtn.height(windowH);
                    image.css('width', 'auto');
                }
            }

            function addEvent(evnt, elem, func) {
                if (elem.addEventListener)  // W3C DOM
                    elem.addEventListener(evnt, func, false);
                else if (elem.attachEvent) { // IE DOM
                    elem.attachEvent('on' + evnt, func);
                }
                else { // No much to do
                    elem[evnt] = func;
                }
            }

            $.ajax({
                type: 'GET',
                url: assetUrl,
                cache: false,
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    //Download progress
                    addEvent('progress', xhr, function (e) {
                        if (e.lengthComputable) {
                            var percentComplete = Math.round((e.loaded / e.total) * 100);
                            counter.empty().html(percentComplete + ' %');
                            bar.width(percentComplete + '%');
                        }
                    }, false);
                    return xhr;
                },
                success: function() {
                    //if(fontLoaded) {

                        adjustBkgImg(image, imageCtn, imageCtnW, gap, imageRatio, windowH);

                        context.addClass('mA_1');
                        document.addEventListener('DOMMouseScroll', handleScroll, false); // for Firefox
                        document.addEventListener('mousewheel',     handleScroll, false); // for everyone else

                        nextLink.on('click', function(e) {
                            context.addClass('mA_2');
                            loadFullPage();
                            e.preventDefault();

                            //if (e.originalEvent.animationName == 'stack-opening') {


                            //}
                        });

                        if (Modernizr.touchevents) {
                            context.one(animEnd, function(e) {
                                console.log(e.originalEvent.animationName);
                                if (e.originalEvent.animationName == 'stack-in-height') {
                                    $(this).delay(5000).addClass('mA_2');
                                    loadFullPage();
                                }
                            });
                        }

                   // }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Error : ' + errorThrown);
                }
            });

            var loadFullPage = function() {
                $('[data-fullpage]').fullpage({
                    menu: '#menu',
                    //anchors:['firstPage', 'secondPage'],
                    css3: true,
                    navigation: true,
                    navigationPosition: 'right',
                    scrollingSpeed: 1000,
                    sectionsColor : ['#fff'], // for the first section
                    verticalCentered: false,
                    showActiveTooltip: true,
                    onLeave: function(index, nextIndex, direction) {
                        var leavingSection = $(this);

                        //after leaving section 1
                        if (index == 1 && direction =='down') {
                            console.log("Going to section 2!");
                            topNav.addClass('is-visible');
                        }
                        else if (index == 2 && direction == 'up') {
                            console.log("Going to section 1!");
                            topNav.removeClass('is-visible');
                        }
                    },
                    afterLoad: function(anchorLink, index) {
                        var loadedSection = $(this);

                        if (index == 1) {
                            shutter.on(animEnd, function(e) {
                                if (e.originalEvent.animationName != 'stack-in-height') {
                                    context.addClass('mA_3');
                                }
                            });
                        }
                    }
                });
            };

            /*grTitles.fontSpy({
                onLoad: 'hideMe',
                onFail: 'fontFail fontCall',
                callback: function() { fontLoaded = true; }
            });*/

            $(window).on('load', function() {
                var firstImg = imageCtn.find('img:first');
                enterLink.hover(function() {
                    firstImg.stop().animate({opacity:0}, 1500);
                }, function() {
                    firstImg.stop().animate({opacity:1}, 3000);
                }).click(function (e) {
                    $.fn.fullpage.moveTo(2);
                    e.preventDefault();
                });
            });

            var delay = (function() {
                var timer = 0;
                return function(callback, ms){
                    clearTimeout (timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            $(window).on('resize', function() {
                delay(function(){
                    imageCtnW = imageCtn.width();
                    windowH = $(window).height();
                    adjustBkgImg(image, imageCtn, imageCtnW, gap, imageRatio, windowH);
                }, 500);
            });

            var handleScroll = function(e) {
                wheelCount++;
                if (!e) e = event;
                var direction = (e.detail < 0 || e.wheelDelta > 0) ? 1 : -1;

                if (direction == 1) wheelCount = 0;
                if (wheelCount == 4 && direction == -1) {
                    context.addClass('mA_2');
                    $(window).off('scroll');
                    loadFullPage();
                }
            };
        });

    </script>
{% endblock %}

