{% extends 'ImhBaseBundle::layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets output='assets/compiled/css/home.css' filter='compass, cssrewrite'
        '@ImhBaseBundle/Resources/assets/sass/page/home.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block loader %}
    {% include 'ImhBaseBundle:Part:loader.html.twig' %}
{% endblock %}

{% block header '' %}

{% block main %}
    {% spaceless %}
    <figure class="imh__ionella-bkg-content" data-bkg-content>
        <img class="imh-ionella-bkg-image" data-bkg-image src="{{ asset('bundles/imhbase/images/ionella_bw.jpg') }}" alt="Ionella Marinutsa" />
        <img class="imh-ionella-bkg-image" data-bkg-image src="{{ asset('bundles/imhbase/images/ionella.jpg') }}" alt="Ionella Marinutsa" />
    </figure>

    {#<a href="#" class="imh__content-home-link" data-ajax data-path='imh_base_biography,{{ app.request.locale }}' data-enter-website>
        <i class="fa fa-angle-down fa-4x" aria-hidden="true"></i>
    </a>#}

    <a href="{{ path('imh_base_biography') }}" class="imh__content-home-link" data-enter-website>
        <i class="fa fa-angle-down fa-4x" aria-hidden="true"></i>
    </a>
    {% endspaceless %}
{% endblock %}

{% block sidebar '' %}
{% block footer '' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='assets/compiled/js/shape.js'
    '@ImhBaseBundle/Resources/assets/js/jquery.imh.shape.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        $(function () {
            'use strict';

            var assetUrl     = '{{ asset('bundles/imhbase/images/ionella_bw.jpg') }}',
                titles       = ['.block-myself h1', '.block-myself h2', '.block-myself h3'],
                grTitles     = $(titles.join(', ')),
                context      = $('[data-body]'),
                enterLink    = $('[data-enter-website]'),
                opening      = $('[data-opening]'),
                shutter      = $('[data-shutter]'),
                bar          = $('[data-progress-bar]'),
                counter      = $('[data-progress-counter]'),
                windowH      = $(window).height(),
                imageCtn     = $('[data-bkg-content]'),
                imageCtnW    = imageCtn.width(),
                image        = imageCtn.find('[data-bkg-image]'),
                imageH       = image.height(),
                imageW       = image.width(),
                gap          = (imageW + image.offset().left) - imageCtn.width(),
                imageRatio   = imageH / imageW,
                animations   = 'animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd',
                fontLoaded   = false,
                wheelCount   = 0;

            function adjustBkgImg(i, ic, icw, gap, ir, wh) {
                i.width(icw + gap);
                ic.height((icw + gap) * ir);
                if(ic.height() < wh) {
                    ic.height(wh);
                    i.css('width', 'auto');
                }
            }

            function addEvent(evnt, elem, func) {
                if (elem.addEventListener)  // W3C DOM
                    elem.addEventListener(evnt, func, false);
                else if (elem.attachEvent) { // IE DOM
                    elem.attachEvent("on" + evnt, func);
                }
                else { // No much to do
                    elem[evnt] = func;
                }
            }

            $.ajax({
                type: 'GET',
                url: assetUrl,
                cache: false,
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    //Download progress
                    addEvent("progress", xhr, function (e) {
                        if (e.lengthComputable) {
                            var percentComplete = Math.round((e.loaded / e.total) * 100);
                            counter.empty().html(percentComplete + ' %');
                            bar.width(percentComplete + '%');
                        }
                    }, false);
                    return xhr;
                },
                success: function() {
                    //if(fontLoaded) {
                        adjustBkgImg(image, imageCtn, imageCtnW, gap, imageRatio, windowH);
                        context.addClass('mA_1');
                        document.addEventListener('DOMMouseScroll', handleScroll, false); // for Firefox
                        document.addEventListener('mousewheel',     handleScroll, false); // for everyone else
                   // }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Error : ' + errorThrown);
                }
            });

            /*grTitles.fontSpy({
                onLoad: 'hideMe',
                onFail: 'fontFail fontCall',
                callback: function() { fontLoaded = true; }
            });*/

            $(window).on('load', function() {
                var firstImg = imageCtn.find('img:first');
                enterLink.hover(function() {
                    image.addClass('notransition');
                    firstImg.stop().animate({opacity:0}, 1500);
                }, function() {
                    firstImg.stop().animate({opacity:1}, 3000);
                });
            });

            var delay = (function() {
                var timer = 0;
                return function(callback, ms){
                    clearTimeout (timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            $(window).on('resize', function() {
                delay(function(){
                    imageCtnW = imageCtn.width();
                    windowH = $(window).height();
                    adjustBkgImg(image, imageCtn, imageCtnW, gap, imageRatio, windowH);
                }, 500);
            });

            var handleScroll = function(e) {
                wheelCount++;
                if (!e) e = event;
                var direction = (e.detail < 0 || e.wheelDelta > 0) ? 1 : -1;

                if (direction == 1) wheelCount = 0;
                if (wheelCount == 4 && direction == -1) context.addClass('mA_2');
            };

            if (Modernizr.touchevents) {
                context.one(animations, function() {
                    $(this).delay(3000).addClass('mA_2');
                });
            }

            shutter.one(animations, function(e) {
                if (e.originalEvent.animationName != 'stack-in-height') {
                    context.addClass('mA_3');
                }
            });
        });

    </script>
{% endblock %}

