{% extends 'ImhBaseBundle::layout.html.twig' %}

{% block title %}{{ 'imh.base.repertoire.page_title'|trans }}{% endblock%}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output='assets/compiled/css/repertoire.css' filter='compass'
        '@ImhBaseBundle/Resources/assets/sass/repertoire.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block main %}
    <img class="imh__bkg-image lazy" data-original="{{ asset('bundles/imhbase/images/strings.jpg') }}" />
    <noscript><img src="{{ asset('bundles/imhbase/images/strings.jpg') }}" alt="Harp strings"></noscript>

    <div class="container imh__container">
        <div class="imh__container--wrapper imh__container--shadows">
            <nav class="imh__lang">
                {% include 'ImhBaseBundle:Menu:lang.html.twig' %}
            </nav>
            <section class="imh__repertoire">
                <h2 class="imh__container-title">{{ 'imh.base.repertoire.concert.title'|trans }}</h2>
                <div class="imh__repertoire-wrapper clearfix">
                    {% for i in range(0,3) -%}
                        <div class="col-sm-24 col-md-12 helper-no-padding">
                            {% spaceless %}
                            <div class="col-sm-9 col-md-11 imh__repertoire-col">
                                <img class="img-responsive imh__repertoire-image" src="{{ asset('bundles/imhbase/images/'~('imh.base.repertoire.concert.'~i~'.name')|trans~'.jpg') }}" alt="{{ ('imh.base.repertoire.concert.'~i~'.composer')|trans }}">
                            </div>
                            <div class="col-sm-15 col-md-13 imh__repertoire-col">
                                <div class="imh__repertoire-description{% if loop.last %} imh__repertoire-description--last{% endif %}">
                                    <p>{{ ('imh.base.repertoire.concert.'~i~'.composer')|trans }}</p>
                                    <p>{{ ('imh.base.repertoire.concert.'~i~'.life')|trans }}</p>
                                    <p class="work">{{ ('imh.base.repertoire.concert.'~i~'.work')|trans }}</p>
                                    <p class="arrangement">{{ ('imh.base.repertoire.concert.'~i~'.arrangement')|trans }}</p>
                                    <div class="imh__repertoire-duration">
                                        {{ ('imh.base.repertoire.concert.duration')|trans }}{{ ('imh.base.repertoire.concert.'~i~'.duration')|trans }}
                                    </div>
                                </div>
                            </div>
                            {% endspaceless %}
                        </div>
                    {%- endfor %}
                </div>
                {#<h2 class="title">{{ 'imh.base.repertoire.recital.title'|trans }}</h2>#}
            </section>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% embed "ImhBaseBundle:Part:sidebar.html.twig" %}
        {% block menu_navigation %}
            <div class="imh__navigation-menu">
                {{ knp_menu_render('main', {'currentAsLink':false}) }}
            </div>
        {% endblock %}

        {% block menu_gallery '' %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='assets/compiled/js/repertoire.js'
    '@ImhBaseBundle/Resources/assets/js/jquery.imh.scrollmove.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function () {
            'use strict';

            /* Lazy Load */
            $('img.lazy').show().lazyload({
                effect : 'fadeIn',
                placeholder: '../../../bundles/imhbase/images/empty.gif'
            });

            if (!Modernizr.touchevents) {
                $('.navigation-menu').scrollMove(); // Menu plugin
            }
        });
    </script>
{% endblock %}