<footer class="imh__footer">
    <div class="container imh__container">
        <div class="col-xs-16 col-sm-7 col-md-6">
            <div class="imh__footer-column imh__footer-column--site">
                <h3>{{ 'imh.base.footer.site'|trans }}</h3>
                {{ knp_menu_render('main', {'currentAsLink':false, 'allow_safe_labels': true}) }}
            </div>
        </div>
        <div class="col-xs-8 col-sm-4 col-md-3">
            <div class="imh__footer-column imh__footer-column--language">
                <h3>{{ 'imh.base.footer.language'|trans }}</h3>
                {% include 'ImhBaseBundle:Menu:lang.html.twig' %}
            </div>
        </div>
        <div class="col-xs-24 col-sm-9 col-md-8">
            <div class="imh__footer-column school">
                <h3>{{ 'imh.base.footer.schools.title'|trans }}</h3>
                <ul>
                    <li>
                        <a href="http://www.ecolenormalecortot.com/" title="{{ 'imh.base.footer.schools.enmp.title'|trans }}" target="_blank">{{ 'imh.base.footer.schools.enmp.text'|trans }}</a>
                    </li>
                    <li>
                        <a href="http://www.conservatoirerachmaninoff.com" title="{{ 'imh.base.footer.schools.crsr.title'|trans }}" target="_blank">{{ 'imh.base.footer.schools.crsr.text'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="imh__footer-column imh__footer-column--follow">
                <h3>{{ 'imh.base.footer.follow.title'|trans }}</h3>
                <div class="imh__footer-wrap">
                    <a href="" class="social" title="{{ 'imh.base.footer.follow.fb'|trans }}" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="" class="social" title="{{ 'imh.base.footer.follow.tw'|trans }}" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://plus.google.com/103289114690032171187/posts" class="social" title="{{ 'imh.base.footer.follow.g+'|trans }}" target="_blank">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 hidden-sm">
            <div class="imh__footer-column imh__footer-column--powered">
                <h3>{{ 'imh.base.footer.engine.title'|trans }}</h3>
                <div class="imh__footer-wrap">
                    <a href="http://symfony.com/" title="{{ 'imh.base.footer.engine.framework'|trans }}" target="_blank">
                        <img src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-24">
            <small class="imh__footer-rights text-center"><span>&copy;</span> {{"now"|date('Y')}}. {{ 'imh.base.footer.copyright'|trans }}</small>
        </div>
    </div>
</footer>