<footer id="footer">
    <section class="footer-column site">
        <h3>{{ 'imh.base.footer.site'|trans }}</h3>
        {{ knp_menu_render('main', {'currentAsLink':false, 'allow_safe_labels': true}) }}
    </section>
    <section class="footer-column language">
        <h3>{{ 'imh.base.footer.language'|trans }}</h3>
        {% include 'ImhBaseBundle:Menu:lang.html.twig' %}
    </section>
    <section class="footer-column school">
        <h3>{{ 'imh.base.footer.schools.title'|trans }}</h3>
        <ul>
            <li>
                <a href="http://www.ecolenormalecortot.com/" title="{{ 'imh.base.footer.schools.enmp.title'|trans }}">{{ 'imh.base.footer.schools.enmp.text'|trans }}</a>
            </li>
            <li>
                <a href="http://www.conservatoirerachmaninoff.com" title="{{ 'imh.base.footer.schools.crsr.title'|trans }}">{{ 'imh.base.footer.schools.crsr.text'|trans }}</a>
            </li>
        </ul>
    </section>
    <section class="footer-column follow">
        <h3>{{ 'imh.base.footer.follow.title'|trans }}</h3>
        <a href="" class="fb" title="{{ 'imh.base.footer.follow.fb'|trans }}" target="_blank">
            <img src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" />
        </a>
        <a href="" class="tw" title="{{ 'imh.base.footer.follow.tw'|trans }}" target="_blank">
            <img src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" />
        </a>
        <a href="https://plus.google.com/103289114690032171187/posts" class="gp" title="{{ 'imh.base.footer.follow.g+'|trans }}" target="_blank">
            <img src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" />
        </a>
    </section>
    <section class="footer-column powered">
        <h3>{{ 'imh.base.footer.engine.title'|trans }}</h3>
        <a href="http://symfony.com/" title="{{ 'imh.base.footer.engine.framework'|trans }}" target="_blank">
            <img src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" />
        </a>
    </section>
    <p><span>&copy;</span> {{"now"|date('Y')}}. {{ 'imh.base.footer.copyright'|trans }}</p>
</footer>